*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
}

.form_user_wrapper{
     background: linear-gradient(to bottom, #E9EAF9 0%, #F5F5FF 100%);
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 48px;
    padding-bottom: 48px;   
    margin-bottom: 96px ;

    .form_user{
        display: flex;
        justify-content: center;
        gap: 19px;
        flex-direction: column;
    }
    
    h3{
        font-size: 36px;
        font-weight: 600;
        text-align: center;
        margin-bottom: 48px;
        
    }
    p{
        font-size: 21px;
        text-align: center;
        margin-bottom: 48px;
        margin-left: 180px;
        margin-right: 180px;
    }

    button{
        background-color: transparent;
        border: none;
        cursor: pointer;
    }


    input{
    padding-left: 4px;
    border-radius: 8px;
       border: none;
       width: 280px;
       height: 53px;
    }

    .inputs{
        display: flex;
        justify-content: center;
        gap:10px
    }
}

.title_under_banner{
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    padding-top: 96px;
    padding-bottom: 96px;
    
    i{
        font-size: 24px;
        font-weight: 600;
    }
}

.gallery_wrapper{
    margin-left: 5%;
    margin-right: 5%;
    padding-top:96px ;
    padding-bottom: 96px;
    display: grid;
    gap: 24px;
   
    justify-content: center;
    

    .second_gallery{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 24px;        
            .grid_images_second_gallery{
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 24px
            }
    }

    h3{
        font-size: 36px;
        font-weight: 600;
        margin-bottom: 48px;
    }

    .first_gallery{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 24px;
        .grid_images{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 24px
        }
         .grid_img{
            display: grid;
                gap: 24px;
            }
    }
}

.card_with_capi{
    background: linear-gradient(to bottom, #E9EAF9 0%, #F5F5FF 100%);
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    .h3{
        font-size:36px ;
        font-weight: 600;
        margin-bottom: 36px;
    }
    .h3_text{
        font-size: 18px;
        margin-bottom: 36px;
    }

   
   

}   


.header{
    a{
        text-decoration: none;
        color: black;
    }
    padding-top: 55px;
    padding-bottom: 55px;
    margin-left: 5%;
    margin-right: 5%;
    display:  flex;
    align-items: center;
    justify-content: space-between;

    .container_phone{
        display: flex;
        .phone_mumber{
            font-size: 18px;
            font-weight: 600;
        }
        .free_call{
            font-weight: 400;
            font-size: 14px;
        }
    }
    .logo_and_title{
       display: inline-flex;
       gap: 24px;
        p{
           font-size:14px ;
           font-weight:400 ; 
           width: 179px;
        }
    }
    .container_ul{
        display: flex;
        justify-content: center;
        align-items: center;
        .catalog{
            display: flex;
            justify-content: center;
            gap: 24px;

            li{
                list-style: none;
                font-size: 18px;
                font-weight: 500;
                text-align: center;
                cursor: pointer;
            }
        }
    }
}

.footer{
    background: #4F58C9;
    padding-right: 5%;
    padding-left: 5%;
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
    padding-bottom: 64px; 
    p{
        font-size: 16px;
        color: white;
    }

}

.succes{
    background: linear-gradient(0deg, #E9EAF9 0%, #F5F5FF 100%);
    width: 100%;
    height: 100vh;
    .succes_container{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
       p{
        font-size: 24px;
       }
    }
}

.banner{
    width: 100%;
}

@media screen and (max-width: 1560px) {
    .wrapper{

        .gallery_wrapper{
            .first_gallery{
               grid-template-columns: 1fr;
            }
            .second_gallery{
               grid-template-columns: 1fr;
            }
            
        }
    }
}